{
    "arrowParens": "avoid",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "trailingComma": "none",
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "css",
    "proseWrap": "preserve",
    "insertPragma": false,
    "requirePragma": false,
    "tabWidth": 4,
    "useTabs": false,
    "embeddedLanguageFormatting": "auto",
    "printWidth": 130,
    "overrides": []
}
